@model IEnumerable<movie.Models.Movie>

    @{
        ViewData["Title"] = "Galeria";
    }
<h1>Galeria de Vídeos</h1>
<hr />
@foreach (var item in Model)
{
    <div class="geral esqueleto">
        <div class="geral moldura">
            <video width="520" height="440" controls> <source src="~/video/@item.Titulo" type="video/mp4" /> </video>
            <div class="card-text">
                <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
            </div>
        </div>
    </div>
}

